/**
 * @author :  sunny
 * @date : 2017.11.22 09:58
 * @description :
 */
@import "../../style/custom";

@curr-month-font-size: 18px; //显示日期字体大小
@vui-datapicker-but-width: 30px; //前后日期按钮宽
@vui-datapicker-body-margin: 5px; //日期外边框
@vui-datapicker-header-height-radius: 8px; //头部圆角
@vui-base-cell-size: 40px; //每个日期显示大小
@vui-base-header-height: @vui-base-cell-size + 10; //日期头部高
@vui-datapicker-width: @vui-base-cell-size * 7 + @vui-datapicker-body-margin * 2; //日期组件宽

/*body大小*/
@vui-datapicker-body-size: @vui-datapicker-width;
@vui-datapicker-body-content-size: @vui-base-cell-size*7;

@vui-datapicker-text-color: #717171;

.vui-datapicker {
  overflow: hidden;
  box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, .3);

  .vui-datapicker-panel-header {
    width: @vui-datapicker-width;
    padding: 0 20px;
    max-height: 60px;
    height: @vui-base-header-height;
    line-height: @vui-base-header-height;
    cursor: pointer;
    text-align: center;
    background-color: @primary-color;
    border-top-left-radius: @vui-datapicker-header-height-radius;
    border-top-right-radius: @vui-datapicker-header-height-radius;
    color: #fff;
    > .vui-datapicker-panel-btn { //前后按钮
      width: @vui-datapicker-but-width;
      transition: all .4s ease-in-out;
      margin: 18px 15px;
      &.vui-datapicker-panel-prev-btn {
        float: left;
      }
      &.vui-datapicker-panel-next-btn {
        float: right;
      }
    }
    //当前月份显示
    > .header-curr-month {
      font-size: @curr-month-font-size;
    }
  }
  //body
  .vui-datapicker-panel-body {
    text-align: center;
    background-color: @modal-cont-bgcolor;
    width: @vui-datapicker-body-size;
    height: @vui-datapicker-body-size;
    line-height: @vui-datapicker-body-size;
    padding: @vui-datapicker-body-margin @vui-datapicker-body-margin;
    //日期面板
    .vui-date-penel {
      // background-color: #ccc;
      width: @vui-datapicker-body-content-size;
      height: @vui-datapicker-body-content-size;
      padding-top: -10px;
      > table.date-table-penel {
        position: absolute;
        border-collapse: collapse; //重复边框折叠
        th {
          font-size: 12px;
          height: @vui-base-cell-size;
          line-height: @vui-base-cell-size;
          color: @vui-datapicker-text-color;
          text-align: center;
        }
        td {
          height: @vui-base-cell-size;
          line-height: @vui-base-cell-size;
          width: @vui-base-cell-size;
          color: #333;
          cursor: pointer;
          padding: 3px 3px; //小圆圈
          > div {
            height: @vui-base-cell-size - 10;
            line-height: @vui-base-cell-size - 10;
            width: @vui-base-cell-size - 10;
            transition: all .2s ease-in-out;
            //&:hover {
            //  cursor: pointer;
            //}
          }
          > .active { //选中天
            background-color: @link-active-color;
            border-radius: 100%;
            color: #fff;
            transition: all .3s ease-in-out;
          }

        }
        //禁止选择的样式
        .verboten {
          color: @verboten-color;
          > div:hover {
            background-color: #fff;
            cursor: not-allowed;
          }
        }

      }

      .current { //当前天
        > div {
          //   background-color: red;
          font-size: 16px;
          color: @link-active-color;
         // border: solid 1px @link-active-color;
         // border-radius: 100%;
        }
      }

    }
    //时间面板
    .vui-time-penel {
      position: absolute;
      width: @vui-datapicker-body-content-size;
      height: @vui-datapicker-body-content-size;
      > .vui-hour { //小时
        float: left;
        height: @vui-datapicker-body-content-size+@vui-datapicker-body-margin;
        width: 50%;
        border-right: solid 1px #eee;
      }
      > .vui-minute { //分钟
        float: left;
        margin: 0 20px;
      }
      .vui-time-penel-btn {
        width: 100px;
        height: 91px;
        line-height: 91px;
        background-color: #eee;
        margin: 2px auto;
        > .prev-btn { //上箭头
          margin-top: 60px;
        }
        > .curr-time { //数字
          font-size: 2rem;
        }
      }
      //上下禁止
      .verboten {
        cursor: not-allowed;
        > .vui-icon-prev {
          fill: @verboten-color;
        }
      }
    }
    //小时&分钟选择面板
    > div > .hours-minute-table {
      //  background-color: #eeeeee;
      width: @vui-datapicker-body-content-size;
      height: @vui-datapicker-body-content-size;
      line-height: @vui-datapicker-body-content-size;
      position: absolute;
      > table {
        width: @vui-datapicker-body-content-size;
        height: @vui-datapicker-body-content-size;
        border-collapse: collapse; //重复边框折叠
        //小时面板
        &.hours-table {
          > tr > td {
            width: @vui-datapicker-body-content-size/6;
            line-height: @vui-datapicker-body-content-size/4;
            height: @vui-datapicker-body-content-size/4;
          }

        }
        //分钟面板
        &.minute-table {
          height: @vui-datapicker-body-content-size - 40px;
          line-height: @vui-datapicker-body-content-size - 40px;
          margin-bottom: 10px;
          > tr > td {
            //border: solid 1px;
            width: @vui-datapicker-body-content-size/4;
            line-height: (@vui-datapicker-body-content-size - 50)/3;
            height: (@vui-datapicker-body-content-size - 50)/3;
          }
        }
        //公用模块
        > tr > td {
          cursor: pointer;
          transition: all .2s ease-in-out;
          &:hover {
            color: @link-active-color;
            transform: scale(1.4);
          }
          &.verboten {
            color: @verboten-color;
            cursor: not-allowed;
          }
          > .current {
            color: @link-active-color;
            transform: scale(1.2);
          }
        }
      }
      //返回
      > .go-back {
        color: @vui-datapicker-text-color;
        line-height: 30px;
        height: 30px;
        border: solid 1px @vui-datapicker-text-color;
        cursor: pointer;
        &:hover {
          color: @link-active-color;
        }
      }
    }
  }
  //foot
  .vui-datapicker-foot {
    height: @vui-base-header-height - 10;
    line-height: @vui-base-header-height - 10;
    background-color: @modal-cont-bgcolor - 20;
    padding: 0 15px;

    > .foot-time-icon { //icon
      cursor: pointer;
      > .vui-icon {
        //  background-color: @modal-cont-bgcolor - 20;
        margin-top: 7px;
      }
    }
    > .foot-btn { //确定  取消
      float: right;
      margin: 0 8px;
      color: @vui-datapicker-text-color;
      &:hover {
        cursor: pointer;
        color: @link-active-color;;
      }
    }
    > .curr-time {
      // padding-top: -10px;
      //margin: 5px 8px;
      // background-color: red;
    }
  }
}
