/**
 * @author :  sunny
 * @date : 2017.11.21 12:41
 * @description :
 */
.web-main {
  li {
    height: 40px;
    line-height: 40px;
    &:hover {
      i {
        fill: @link-hover-color;
      }
      color: @link-hover-color;
      cursor: pointer;
    }
  }
  //头部
  .head {
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    width: 100%;
    clear: both;
    div {
      display: inline-block;
      height: inherit;
      line-height: inherit;
      overflow: hidden;
    }
    .head-logo {
      width: 25%;
      > img { //logo
        height: inherit;
        line-height: inherit;
        margin-left: 10%;
      }
    }
    .head-menus { //菜单
      li {
        float: left;
        width: 100px;
      }
    }
    .head-info { //用户信息
      //clear: both;
      float: right;
      margin-right: 20px;
    }
    //头部菜单激活样式
    .active {
      i {
        fill: @link-active-color;
      }
      color: @link-active-color;
      border-bottom: solid 2px @link-active-color;
    }
  }
  //内容
  .content {
    margin: 10px auto;
    width: 99%;
    background-color: #fff;
    .title {
      width: 100%;
      line-height: 50px;
      height: 50px;
      border-bottom: solid 1px #ccc;
      padding-left: 15px;
      overflow: hidden;
      font-size: 16px;
    }
    //内容左边卡片
    .content-card-left {
      background-color: #fff;
      width: 15%;
      float: left;
      border: solid 1px #ccc;
      .card-left-menu { //左边菜单
        text-align: center;
        li {
          line-height: 50px;
          height: 50px;
          > div {
            height: inherit;
            line-height: inherit;
            overflow: hidden;
            margin: 0 5%;
            border-bottom: solid 1px #f1f1f1;
          }
        }
      }
    }
    //内容右边卡片
    .content-card-right {
      float: right;
      width: 85%;
      border-right: solid 1px #ccc;
      border-top: solid 1px #ccc;
      border-bottom: solid 1px #ccc;
      background-color: #fff;
      .right-content {
        padding: 10px;
      }
    }
    //左边菜单激活样式
    .right-active {
      i {
        fill: @link-active-color;
      }
      color: @link-active-color;
      border-right: solid 3px @link-active-color;
    }
  }

}


