/**
 * @author :  sunny
 * @date : 2017.11.21 12:41
 * @description :
 */
.web-main {
  //头部
  .head {
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    width: 100%;
    clear: both;
    div {
      display: inline-block;
      height: inherit;
      line-height: inherit;
      overflow: hidden;
    }
    .head-logo {
      width: 25%;
      > img { //logo
        height: inherit;
        line-height: inherit;
        margin-left: 10%;
      }
    }
    .head-menus { //菜单
      li {
        float: left;
        width: 100px;
      }
    }
    .head-info { //用户信息
      //clear: both;
      float: right;
      margin-right: 20px;
    }
  }
  //内容
  .content {
    margin: 10px auto;
    width: 99%;
    .title {
      width: 100%;
      line-height: 50px;
      height: 50px;
      border-bottom: solid 1px #ccc;
      padding-left: 10px;
      overflow: hidden;
      font-size: 16px;
    }
    //内容左边卡片
    .content-card-left {
      background-color: #fff;
      width: 15%;
      float: left;
      border: solid 1px #ccc;
      text-align: center;
      .card-left-menu { //左边菜单
        li {
          line-height: 50px;
          height: 50px;
          border-bottom: solid 1px #f1f1f1;
        }
      }
    }
    //内容右边卡片
    .content-card-right {
      float: right;
      width: 85%;
      border: solid 1px #ccc;
      background-color: #fff;
      .right-content {
        padding: 10px;
      }
    }
  }

}

li {
  height: 40px;
  line-height: 40px;
  &:hover {
    i {
      fill: @link-hover-color;
    }
    color: @link-hover-color;
    cursor: pointer;
  }
}
