/**
 * @author :  sunny
 * @date : 2017.11.20 00:21
 * @description :
 */
*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: @font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @text-color;
  background-color: @body-background ;
  font-size: @font-size-base;
  font-weight: 500;
  line-height: 1.5;
}
